.footer{
  padding: 40px 15px 0;
  font-family: var(--font-lato);
  color: var(--white-color);
  .contacts{
    margin-bottom: 50px;
    &-title{
      font-family: var(--font-openSans);
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    &-list{
      display: flex;
      flex-direction: column;
    }
    &-item{
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-decoration: none;
      color: var(--white-color);
      display: flex;
      margin: 15px 0;
      &.map{
        max-width: 200px;
        margin-bottom: 0;
      }
      svg{
        max-width: 18px;
        max-height: 18px;
        margin-right: 19px;
      }
    }
  }
  .links-list{
    margin-bottom: 28px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    a{
      color: var(--white-color);
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      padding: 12px 0;
      display: block;
      text-decoration: none;
    }
    &-title{
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: var(--white-color);
      margin-bottom: 18px;
    }
  }
  .footer-form{
    margin-bottom: 40px;
    h4{
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }
  }
  .work-time{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    &_title{
      margin-bottom: 25px;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
    }
    &_item{
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 17px;
    }
  }
  .support-service{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    height: 60px;
    &_icon{
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid var(--white-color);
      margin-right: 13px;
      position: relative;
      svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 18px;
        max-height: 18px;
      }
    }
    .card {
      width: 220px;
      height: 100%;
      transition: transform 1s;
      transform-style: preserve-3d;
      cursor: pointer;
      position: relative;
    }

    .card.is-flipped {
      transform: rotateY(180deg);
    }

    .card__face {
      display: flex;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;

      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .card__face--front {
      // background: red;
    }

    .card__face--back {
      color: var(--white-color);
      font-family: var(--font-openSans);
      text-decoration: none;
      transform: rotateY(180deg);
    }
  }
  .footer-social{
    margin-bottom: 40px;
    &-title{
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      margin-bottom: 30px;
      color: var(--white-color);
    }
    &_list{
      display: flex;
    }
    &_item{
      display: block;
      width: 40px;
      height: 40px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      margin-right: 15px;
      position: relative;
      svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 18px;
        max-height: 18px;
      }
    }
  }
  &-logo{
    margin: 50px 0 40px;
  }
}
.footer-map{
  width: calc(100% - 30px);
  max-width: 390px;
  height: 270px;
  margin: 0 auto;
  background-image: url(../../assets/images/map.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../../assets/images/map-logo.png);
    width: 201px;
    height: 16px;
    display: block;
  }
}
.footer-copyright{
  background: rgba(255, 255, 255, 0.1);
  padding: 14px 0 22px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  font-family: var(--font-lato);
  color: var(--white-color);
}



