.slide-wrapper{
  min-height: 300px;
}
.img-wrapper{
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  &.first{
    background-image: url(../../assets/images/2013_Ford_Fusion.png);
  }
  &.second{
    background-image: url(../../assets/images/2013_Ford_Escape.png);
  }
  &.third{
    background-image: url(../../assets/images/subaru.png);
  }
  &.four{
    background-image: url(../../assets/images/2015_Volkswagen_Tiguan.png);
  }
  &.five{
    background-image: url(../../assets/images/2017_Honda_Civic.png);
  }
  &.six{
    background-image: url(../../assets/images/kia.png);
  }
  &.seven{
    background-image: url(../../assets/images/Passat.png);
  }
  &.eight{
    background-image: url(../../assets/images/tesla.png);
  }

}
