// .slide-wrapper{
//   min-height: 300px;
// }
// .img-wrapper{
//   width: 200px;
//   height: 200px;
//   background-size: contain;
//   background-position: center;
//   background-repeat: no-repeat;


// }
.popular-cars{
  padding: 60px 0;
}
.carousel-wrapper{
  max-width: 350px;
  height: auto;
  margin: 30px auto 0;
}
